@font-face {
    font-family: "";
    src: url('GamestationCond.otf');
}

* {
    text-align: center;
}

.main {
    font-family: "gamestation";
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.3rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    font-family: "gamestation";
    color: white; /* Text color */
    background-color: black; /* Background color */
    text-decoration: none; /* Remove underline */
    font-size: 1.6rem; /* Font size */
    border-radius: 0.5rem; /* Rounded corners */
    padding: 0.5rem 1rem; /* Padding */
    display: inline-block; /* Display as inline block */
    margin: 0.5rem; /* Add some margin */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

a:hover {
    background-color: #333; /* Darken background color on hover */
    transform: translateY(-2px); /* Move button slightly up */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Increase shadow */
}